{
  "env": {
    "mocha": true
  },
  "globals" : {
    "mongoose": true,
    "expect": true,
    "srcDir": true
  },
  "rules": {
    "no-useless-escape": 0,
    "llo": 0,
    "no-console": ["off"]
  }
}
